<h1>Update Restro</h1>
<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong> Updation Success !</strong> You data has been successfully Updated.
    <button type="button" (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form  [formGroup]="restroUpdateForm" (ngSubmit)="onSave()">
    <div class="form-group">
        <label>Name</label>
        <input type="text" formControlName="name" name="name" class="form-control" id="name" placeholder="Enter Restro Name">
    </div>
    <div class="form-group">
        <label>Address</label>
        <input type="text" formControlName="address" name="address" class="form-control" name="address" id="address" placeholder="Enter Address">
    </div>
    <div class="form-group">
      <label>Email address</label>
      <input type="text" formControlName="email" name="email" class="form-control" id="email" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
