<h1>Login Form</h1>
<div *ngIf="alert && isLoginSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong> Login Success !</strong> You are logged in successfully.
    <button type="button" (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="alert && !isLoginSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong> Login Failed !</strong> User Credential are incorrect.
    <button type="button" (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form  [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="form-group">
      <label>Email address</label>
      <input type="text" formControlName="email" name="email" class="form-control" id="email" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="text" formControlName="password" name="password" class="form-control" id="password" placeholder="Enter Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
