<h1>Resto List</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let restro of restroList">
        <th scope="row">{{restro.id}}</th>
        <td>{{restro.name}}</td>
        <td>{{restro.address}}</td>
        <td>{{restro.email}}</td>
        <td>
          <i class="fa fa-trash-o" 
          (click)="deleteRestro(restro.id)" style="font-size:24px;color:red">
        </i>
        <a routerLink="/update/{{restro.id}}"> <i class="fa fa-edit" style="font-size:24px;color:blue"></i></a>       
        </td>
      </tr>
    </tbody>
  </table>