<h1>Registration Form</h1>
<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong> Registration Success !</strong> You are registered successfully.
    <button type="button" (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form  [formGroup]="registrationForm" (ngSubmit)="onSave()">
    <div class="form-group">
        <label>Name</label>
        <input type="text" formControlName="name" name="name" class="form-control" id="name" placeholder="Enter User Name">
    </div>
    <div class="form-group">
      <label>Email address</label>
      <input type="text" formControlName="email" name="email" class="form-control" id="email" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="text" formControlName="password" name="password" class="form-control" id="password" placeholder="Enter Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
